#header {
  display: flex;
  justify-content: center;
}
#nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: 'Alegreya SC', serif;
  font-size: 18px;
}
.logo_image {
  margin: 15px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.daily {
  width: 140px;
  height: 155px;

}
